# Keil MDK 编译产物
01_BMS_project/MDK-ARM/DebugConfig/
01_BMS_project/MDK-ARM/RTE/
01_BMS_project/MDK-ARM/*.uvguix.*
01_BMS_project/MDK-ARM/*.uvoptx
01_BMS_project/MDK-ARM/Objects/
01_BMS_project/MDK-ARM/Listings/
*.o
*.d
*.crf
*.axf
*.htm
*.lst
*.map
*.bak
.vscode/
